// AnclaDeCasa.scss
@use "../../../../estilos/globales" as *;

.ancla-de-casa {
    @include tamaño-cuadrado(calc($dos-porciento + $uno-porciento));
    flex: 0 0 auto;
    border-radius: $medio-porciento;
    transition:
        background-color 0.14s ease-in-out,
        transform 0.14s ease-in-out;
    .imagen {
        border-radius: $medio-porciento;
        img {
            border-radius: $medio-porciento;
        }
    }
    &:hover {
        background-color: añadir-alfa($blanco-prístino, 0.1);
        transform: translateY(-1px);
        cursor: pointer;
    }
    &:active {
        transform: translateY(0);
    }
}

