// MenúDesplegableDeNav.scss
@use "../../../../estilos/variables-globales" as vars;
@use "../../../../estilos/mixins-globales" as mixins;
@use "../../../../estilos/funciones-globales" as funcs;
@use "../../../../estilos/marcadores-de-posición-globales" as placeholders;

.menú-desplegable-de-nav {
    position: relative;
    .elementos-ocultos {
        z-index: 11;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding-top: vars.$medio-porciento;
        .elemento-de-nav {
            justify-content: flex-start;
            width: 100%;
            color: vars.$carbón-claro;
            border-radius: vars.$cuarto-porciento;
            padding: vars.$medio-porciento vars.$uno-porciento;
            &:hover {
                background-color: funcs.añadir-alfa(vars.$terracota, 0.12);
                color: vars.$granate-oscura;
            }
        }
        .lista-de-elementos {
            @include mixins.flex(flex-start, stretch, column);
            min-width: 12rem;
            padding: vars.$medio-porciento;
            background-color: funcs.añadir-alfa(vars.$blanco-prístino, 0.98);
            border: vars.$borde-más-delgado solid funcs.añadir-alfa(vars.$carbón, 0.12);
            border-top: vars.$borde-delgado solid vars.$terracota;
            border-radius: vars.$medio-porciento;
            box-shadow: vars.$sombra-negra-más-oscura 0 vars.$medio-porciento vars.$uno-porciento;
        }
    }
}
