// SelectorDePronombres.scss
@use "../../../../../estilos/globales" as *;

.selector-de-pronombres {
    @include flex(center, center, row);
    flex-wrap: wrap;
    max-width: $cuarenta-porciento;
    margin: $medio-porciento 0;
}