// ConsolaDeRegistro.scss
@use "../../../../estilos/globales" as *;

.consola-de-registro {
    width: 100%;

    .entradas-de-registro {
        gap: 0.9rem;

        > .título {
            display: none;
        }

        .botón {
            width: 100%;
            align-self: stretch;
            margin-top: 0.35rem;
        }
    }
}
