// Tarjeta.scss
@import "../../../../estilos/funciones-globales";
@import "../../../../estilos/marcadores-de-posición-globales";
@import "../../../../estilos/mixins-globales";
@import "../../../../estilos/variables-globales";

.tarjeta {
    perspective: 1000px;
    @include tamaño($veinte-porciento, $diez-porciento);
    @include flex(center, center, column);

    .envoltura-de-perspectiva {
        color: $blanco-prístino;
        background-color: $mostaza;
        padding: $uno-porciento;
        margin: $medio-porciento 0;
        @extend %radio-de-borde-suave;
        @extend %sombra-de-texto-suave;
        @extend %sombra-de-caja-suave;
        position: relative;
        @include flex(center, center, column);
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
    }
    &.volteado {
        .envoltura-de-perspectiva {
            transform: rotateY(180deg);
        }
    }
    .contenido-frontal, .contenido-posterior {
        @include flex(center, center, column);
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        .título {
            h3 {
                font-family: $texto-bloque-serif;
            }
        }
    }
    .contenido-posterior {
        text-decoration: underline;
        transform: rotateY(180deg);
    }
}