// SelectorDePronombres.scss
@use "../../../../../estilos/variables-globales" as vars;
@use "../../../../../estilos/mixins-globales" as mixins;
@use "../../../../../estilos/funciones-globales" as funcs;
@use "../../../../../estilos/marcadores-de-posición-globales" as placeholders;

.selector-de-pronombres {
    @include mixins.flex(center, center, row);
    flex-wrap: wrap;
    max-width: vars.$cuarenta-porciento;
    margin: vars.$medio-porciento 0;
}