// OpciónDePronombre.scss
@use "../../../../../estilos/variables-globales" as vars;
@use "../../../../../estilos/mixins-globales" as mixins;
@use "../../../../../estilos/funciones-globales" as funcs;
@use "../../../../../estilos/marcadores-de-posición-globales" as placeholders;

.opción-de-pronombre {
    padding: vars.$uno-porciento;
    @extend %placeholders.radio-de-borde-suave;
    color: vars.$blanco-prístino;
    //text-shadow: vars.$sombra-negra-más-oscura 0 0 vars.$medio-porciento;
    @extend %placeholders.sombra-de-texto-suave;
    margin: vars.$medio-porciento;
    background-color: vars.$mostaza;
    .título {
        font-size: vars.$h4-tamaño-de-fuente;
        min-width: 8ch;
    }
    &.seleccionado {
        background-color: vars.$rojo-real;
        color: vars.$blanco-prístino;
        @extend %placeholders.sombra-de-caja-suave;
    }
}