// AnclaDeCasa.scss
@import "../../../../estilos/funciones-globales";
@import "../../../../estilos/marcadores-de-posición-globales";
@import "../../../../estilos/mixins-globales";
@import "../../../../estilos/variables-globales";

.ancla-de-casa {
    @include tamaño-cuadrado($cuatro-porciento);
    position: absolute;
    top: calc($cuarto-porciento + $octavo-porciento);
    left: $medio-porciento;
    background-color: $logotipo-gris;
    border: gray $borde-delgado solid;
    @extend %radio-de-borde-suave;
    .imagen {
        @extend %radio-de-borde-suave;
        img {
            @extend %radio-de-borde-suave;
        }
    }
}