// Autorización.scss
@import "../../../estilos/funciones-globales";
@import "../../../estilos/marcadores-de-posición-globales";
@import "../../../estilos/mixins-globales";
@import "../../../estilos/variables-globales";

.autorización {

}