// BarraDeNav.scss
@use "sass:color";
@use "../../../../estilos/globales" as *;

.barra-de-nav {
    //background-image: radial-gradient(at bottom, $rojo-real, $rojo-real-descolorido);
    background-image: linear-gradient($terracota, $naranja-sevilla);
    box-shadow: $sombra-negra-más-oscura 0 0 $medio-porciento $cuarto-porciento;
    width: 100%;
    height: $altura-barra-de-nav;
    @include flex(center, center, column);
    margin: 0 0 $dos-porciento 0 0;
    nav {
        width: 70%;
        @include flex(center, center, row);
    }
}