// BarraDeNav.scss
@use "sass:color";
@import "../../../../estilos/funciones-globales";
@import "../../../../estilos/marcadores-de-posición-globales";
@import "../../../../estilos/mixins-globales";
@import "../../../../estilos/variables-globales";
.barra-de-nav {
    background-image: radial-gradient($carbón-claro, $rojo-real, $rojo-real-descolorido 10%);
    box-shadow: $sombra-negra-más-oscura 0 0 $medio-porciento $cuarto-porciento;
    width: 100%;
    height: $altura-barra-de-nav;
    @include flex(center, center, column);
    margin: 0 0 $dos-porciento 0 0;
    nav {
        width: 70%;
        @include flex(center, center, row);
    }
}