// EntradaDeAutorización.scss
@use "../../../../../estilos/globales" as *;

.entrada-de-autorización {
    @include flex(flex-start, stretch, column);
    width: 100%;
    gap: 0.4rem;
    .título {
        color: $granate-oscura;
        padding: 0;
        text-align: left;
        @include flex(flex-start, center, row);
        h5 {
            font-family: $texto-bloque-sans;
            font-size: clamp(0.88rem, 0.24vw + 0.84rem, 1rem);
            font-weight: 700;
        }
    }
    .entrada {
        input {
            width: 100%;
        }
    }
}
